.body {
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.question {
    text-align: center;
    color: white;
    padding-top: 10px;
}

.js-quote {
    width: 100%;
    @media all and (min-width: 768px) {
        width: 500px;
    }
}

.button {
    font-size: 20px;
    background-color: blue;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 100px;
    margin-bottom: 20px;
}